# Python
venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Локальные данные
# (Мы не хотим выкладывать базу данных и документы в репозиторий,
# т.к. они могут содержать чувствительную информацию и они генерируются локально)
chroma_db/
docs/
