# Core Application
flask
streamlit

# LangChain & Vector DB
langchain
langchain-community
langchain-deepseek
langchain-openai
chromadb
ollama # Оставим на всякий случай, если понадобится

# Document Parsing
unstructured[local-inference]
# detectron2 будет установлен как зависимость unstructured

# Reranker
flashrank